<div class="">

<div class="content container">
				<div class="row">
					<!-- <h1 class="col-sm-12">Work</h1> -->
					<h2 class="col-sm-12" style=" margin-top: 0px; font-size:3em; color:black; text-align: center;">Check out my latest Projects</h2>
				</div>
        <div class="row">

            <div class=" col-xs-6 col-lg-6 col-md-6 portfolio-item">
                <a href="http://torrozo.com">
                    <img class="img-responsive" src="img/torrozo.png">
                </a>
                <!-- <h3><a href="#project-one">Torrozo</a> -->
                </h3>
<!--                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
 -->            </div>

            <div class=" col-xs-6 col-lg-6 col-md-6 portfolio-item">
                <a href="http://tutorials.tholm.whsites.net">
                    <img class="img-responsive" src="img/terranium.png">
                </a>
                <!-- <h3><a href="#project-two">Tutorial Site</a> -->
                </h3>
<!--                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
 -->            </div>

        </div>
       

        <div class="row">

            <div class=" col-xs-6 col-lg-6 col-md-6 portfolio-item">
                <a href="http://reliabledeliverslv.com">
                    <img class="img-responsive" src="img/reliabledelivers.png">
                </a>
                <!-- <h3><a href="#project-three">Reliable Delivers</a> -->
                </h3>
<!--                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
 -->            </div>

            <div class=" col-xs-6 col-lg-6 col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="img/richmond.png">
                </a>
                <!-- <h3><a href="#project-four">Richmond City</a> -->
                </h3>
<!--                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
 -->            </div>

        </div>

        <div class="row">

            <div class=" col-xs-6 col-lg-6 col-md-6 col-md-offset-3 portfolio-item">
                <a href="http://thefarrider.com">
                    <img class="img-responsive" src="img/farrider.png">
                </a>
                <!-- <h3><a href="#project-five">FarRiderProducts</a> -->
                </h3>
<!--                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
 -->            </div>

        </div>







</div>